<div id="filterrific_results">

  <div class="kamanari">
    <%= paginate @blog,theme: 'twitter-bootstrap-3' %>
  </div>

  <div class="example">
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th><%= filterrific_sorting_link(@filterrific, :Created_at) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :Title) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :Category) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :suggestive) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :Creator) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :image) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :View_model) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :Time_public) %></th>
                      <th><%= filterrific_sorting_link(@filterrific, :manipulation) %></th>
                    </tr>
                </thead>
                <% @blog.each do |blog| -%>
                  <tbody>
                    <tr>
                      <td><%= blog.created_at %></td>
                      <td><%= blog.title %></td>
                      <td><%= blog.category.category_name %></td>
                      <td><%= blog.suggestive ? "Yes" : "No" %></td>
                      <td><%= blog.creator_name %></td>
                      <td><%= image_tag blog.image.medium.url %></td>
                      <td>
                        <%= blog.view_model ? "Public" : "Private" %>
                        <div class="view-model">
                          <% if blog.view_model? %>
                            <%= button_to "Private", public_case_blog_path(id: blog.id) %>
                          <% else %>
                            <%= button_to "Public", private_case_blog_path(id: blog.id) %>
                          <% end %>
                        </div>
                      </td>
                      <td>
                        <%= blog.public_time %>
                        <% if blog.view_model == true %>
                          <div class='input-group date'>
                            <%= form_for blog, url: change_publictime_blog_path(blog), method: :post do |f| %>
                              <div class="changedatetime">
                                  <%= f.text_field :public_time, class: 'changedatetime' %>
                              </div>
                              <%= f.submit "Change" %>
                            <% end %>
                          </div>
                        <% end %>
                      </td>
                      <td>
                        <div class="Edit-Blog">
                          <%= link_to "Edit Bblog", edit_blog_path(blog)   %>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                <% end -%>
            </table>
        </div>
    </div>
  </div>

  <div class="kamanari">
    <%= paginate @blog,theme: 'twitter-bootstrap-3' %>
  </div>

</div>
