
<%= form_for_filterrific @filterrific do |f|%>
  <div class="form_index">
    <div>
      Title
      <%= f.text_field(:search_query, class: 'form-control') %>
    </div>

    <div class="td_index">
      Category
      <%= f.select(:with_category_name,@filterrific.select_options[:with_category_name],{ include_blank: '- All Category -' },{class: "form-control"}) %>
    </div>

    <div class="td_index">
      View Model
      <%= f.select :with_view_model, [['Publics', false], ['Private', true]], {}, {class: "form-control"}%>
    </div>

    <div class="td_index">
      Suggestive
      <%= f.select :with_suggestive, [['Yes', false], ['No', true]], {}, {class: "form-control"} %>
    </div>

    <div class="td_index">
      Sorted by
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: "form-control"})%>
    </div>
    <%= render_filterrific_spinner %>
  </div>
<% end %>

<div class="new-blog">
  <%= link_to "ブログブログ", blogs_new_path %>
</div>

<%= render(
  partial: 'blogs/list',
  locals: { blog: @blog }
) %>
